.statistic-item {
    width: 140px;
    height: 200px;
    
    >h1 {
        font-size: 80px;
    }

    >.statistic {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 15px;
    }
}